@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Big+Shoulders+Text:wght@700&family=Lateef&display=swap');

body {
  font-family: 'Big Shoulders Text', 'Garamond', sans-serif;
  font-size: 22px;
  color: black;
  margin: 0;
  padding: 0;
}

header {
  background-color:#333333;
  display: grid;
  grid-template-columns: 150px auto;
}

.logo {
  width: 135px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  background-color: #707070;
  color: black;
}

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

#msg {
  text-align: center;
  padding-top: 23%;
  left: 50%;
}

#msg h1 {
  font-size: 3em;
}

#msg h3 {
  font-size: 1.5em;;
}

.slidershow {
  width: 100%;
  overflow: hidden;
}

.middle {
  grid-column: 2/3;
  grid-row: 1/3;
}

.navigation {
  position: absolute;
  bottom: 20px;
  padding-left: 20%;
  grid-row: 2/3;
  display: flex;
  
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: #fff;
}

input[name='r'] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}
.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}
#r3:checked ~ .s1 {
  margin-left: -40%;
}
#r4:checked ~ .s1 {
  margin-left: -60%;
}
#r5:checked ~ .s1 {
  margin-left: -80%;
}

.home-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
}

.who-card {
  grid-row: 1/3;
  grid-column: 6/11;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 100px;
}

.what-card {
  grid-column: 1/6;
  grid-row: 3/5;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 100px
}

.why-card {
  grid-column: 6/11;
  grid-row: 3/5;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 100px
}

.title {
  text-align: center;
  font-size: 2em;
  grid-column: 1/3;
}

.title-msg {
  text-align: center;
  grid-column: 1/3;
}

.card-msg {
  color: black;
  font-family: 'Baloo 2', 'Garamond', sans-serif;
  font-size: .8em;
  padding-bottom: 15px;
}

.card-img {
  width: 100%;
}

#service-card {
  background-color: #707070;
  text-align: center;
  height: 100%;
  grid-column: 1/11;
  grid-row: 1/2;
}

.-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#provide-card {
  grid-row: 2/3;
}


#provide-img {
  width: 50%;
  grid-column: 1/6;
}


.provide-words {
  width: 50%;
  grid-column: 6/11;
  text-align: center;
}



#prices-card {
  grid-row: 3/4
}

.prices-img {
  width: 100%;
  grid-column: 6/11;
  grid-row: 4/5;
}

#prices-words {
  grid-column: 1/6;
  text-align: center;
}

.button-box {
  text-align: center;
}


.book, .learn-more {
  background-color: #333333;
  color: white;
  text-decoration: none;
  font-family: 'Lateef', 'Garamond', sans-serif;
  font-size: 25px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .learn-more:hover {
  background-color: #707070;
  color: white;
}

.button-box {
  grid-row: 4/5;
  grid-column: 5/7;
  width: 100%;
}

footer {
  background-color: #707070;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h3 {
  color: black;
}

footer h3 a:hover {
  text-decoration: underline;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

footer .social img {
  padding-top: 15px;
}