@import url('https://fonts.googleapis.com/css2?family=Karla&family=Nunito:wght@300&family=Oxygen&display=swap');

#background {
    height: 725px;
    background-color: #FF8360;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #8BD3E5; 
    font-family: 'Oxygen', 'Garamond', sans-serif;
    font-size: 22px;
    color: #0E0E52;
    margin: 0;
    padding: 0;
}

header {
    background-color:#FF8360;
    opacity: .9;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #0E0E52;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #0E0E52;
    color: #FF8360;
}

.home-title {
    color: #EEDF6D;
    font-family: 'Nuito', 'Georgia', serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: #8BD3E5;
}

.book, .join {
    background-color: #FF8360;
    color: #0E0E52;
    text-decoration: none;
    font-family: 'Karla', 'Garamond', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #8BD3E5;
    color: #0E0E52;
}

.msg {
    background-color: #EEDF6D;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #0E0E52;
}

.msg h2 {
    color: #0E0E52;
    font-family: 'Nuito', 'Georgia', serif;
}

.msg p {
    color: #0E0E52;
    font-family: 'Oxygen', 'Garamond', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #EEDF6D;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: #0E0E52;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    color: #0E0E52;
    text-decoration: none;
}

footer a:hover {
    color: #0E0E52;
}

footer .social img {
    padding-top: 15px;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #0E0E52;
}

.card-img {
    border: 10px solid #EEDF6D;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #0E0E52;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 { 
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}